<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hogwarts</title>
</head>
<body>
	<ul>
		<% students.each do |key, student| %>
		<li><%= student[:name]  %> is <%= student[:age] years old.  %>.
			This student has an id of <a href="/student/<%= student[:id] %>">
			<%= student[:id]  %></a>.
		<%	end %>
		</li>
	</ul>

	<h3>Enroll here!</h3>
	<form action="/student" method="post">
		<input type="text" name="name" placeholder="name" required>
		<input type="text" name="age" placeholder="age" required>
		<input type="text" name="fave_spell" placeholder="favorite spell" required>
		<button>ERECTO!</button>
	</form>
		
</body>
</html>